dist/franka_matlab
tmp/
# But include the distribution file for releases
!dist/franka.mltbx
bin
bin_arm
*_ert_rtw
*_grt_rtw
*.slxc
*.elf
.vscode
build
work
slprj
libfranka
libfranka_arm
*.o
*~
*.autosave
*.mat
*.bak
*.mat.bak
*_log.txt
*.asv
*.exp
*.manifest
*.exe
*.pdb
*..mltbx
*.mex
*.mexw64
*.mexmaci64
*.mexa64

.obsidian

# Exclude temporary version files
*.version.tmp
